@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    text-decoration: none;
   
}

.logo-black{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);






}

.inputGroup img{

    position: relative;
    top: 12px;
    padding-bottom: 32px;
    cursor: pointer;


}

.btn-login{

    background-color: #0FA47F;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
    width: 109.65%;
    cursor: pointer;

}

.btn-login a{
  color: #fff;
}



.login{

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;

}

.login > h1{

    color: #2E3339;
    font-size: 31px;
    position: absolute;    
    top: -13%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    width: 320px;

}

.inputGroup {
    margin: 1em 0 1em 0;
    max-width: 292px;
    position: relative;


  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    text-align: left;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    top: -1%;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.1s ease;
    color: rgba(45, 51, 58, 0.685);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 3px;
    padding: 0.4em;
    background-color: #ffffff;
    color: #0FA47F;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: #0FA47F;
  }

  hr{
    position: absolute;
    top: 19px;

    width: 320px;
  }

  .no-account{
    position: relative;

    top: 2px;
    color: rgb(46, 51, 57, 100%);
    font-size: 14px;

  }

  .no-account a{

    color: #0FA47F;
  }

  .or {
    position: absolute;

    top: 282px; /* Aumente o valor para abrir espaço para o novo botão */
    font-size: 12px;
    color: #2E3339;
    background-color: #ffffff;
    z-index: 2;
    width: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linha{
  position: relative;

  background-color: #C3C8CF;
  border: none;
  height: 0.08px;
  margin-bottom: 49px;

}

.btn-google {
  
  background-color: transparent;
  outline: none;
  border: 1px solid #C3C8CF;
  border-radius: 4px;
  color: #2E3339;
  font-weight: 500;
  font-size: 15px;
  padding: 15px;
  text-align: left; /* Centraliza o texto horizontalmente */
  width: 100%; /* Largura total disponível */
  margin-top: 8px; /* Adiciona margem superior para separar os botões verticalmente */
  cursor: pointer;
  display: block; /* Transforma o botão em um bloco, tornando-o empilhável verticalmente */
}

.btn-google img{
  
  margin-right: 15px;

}


.btn-google:last-child {
  margin-bottom: 75px; /* Adicione a margem inferior apenas ao último botão com a classe .btn-google */
}






