@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    align-items: center;
    text-align: center;
    text-decoration: none;
   
}

.logo-black{
    position: absolute;
    top: 5%;
    left: 50%;
}

.inputGroup img{

    position: relative;
    top: 12px;
    padding-bottom: 29px;
    cursor: pointer;


}

.btn-login{

    background-color: #0FA47F;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px;

}

.login{

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;

}

.login > h1{

    color: #2E3339;
    font-size: 31px;
    position: absolute;    
    top: -29%;
    left: 17%;
    font-weight: 700;

}

.inputGroup {
    margin: 1em 0 1em 0;
    max-width: 292px;
    position: relative;


  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    text-align: left;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    top: -1%;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgba(45, 51, 58, 0.685);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 3px;
    padding: 0.4em;
    background-color: #ffffff;
    color: #0FA47F;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: #0FA47F;
  }

  hr{

    width: 320px;
  }