@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    background-color: #343541;
}

.menu {
    position: absolute;
    width: 261px;
    background-color: #202123;
    color: white;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhamento à esquerda */
    padding: 20px; /* Adicionei espaçamento no container do logo */
    z-index: 1;
}

.menu .logo-container {
    text-align: left;
    margin: -11px;
    padding: 15px;
    padding-right: 136px;
    border: 1px solid #444654;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Alinhamento vertical centralizado */
    cursor: pointer;
    margin-bottom: 22px;

}

.menu .logo-img {

    margin-right: 15px; /* Espaçamento entre a imagem e o texto */
}


.menu .logo-text {
    color: white;
    font-size: 18px;
    display: block;
    font-size: 13.5px;
    font-weight: 500;
}

.menu .chat-container {
    text-align: left;
    margin: -11px;
    padding: 15px;
    padding-right: 6px;

    border-radius: 6px;
    background-color: #343540;
    display: flex;
    align-items: center; /* Alinhamento vertical centralizado */
    cursor: pointer;
    margin-bottom: 120%;

}

.menu .chat-img {

    margin-right: 15px; /* Espaçamento entre a imagem e o texto */
}

.menu .pen-img {


    margin-left: 4px;


}

.menu .delete-img {


}

.menu .chat-text {
    color: white;
    font-size: 18px;
    display: block;
    font-size: 13.5px;
    font-weight: 500;
}



.menu ul {
    position: sticky;
    top: 200%;
    margin-left: -18px;
    margin-bottom: -7px;

    bottom: 0;

    list-style: none;
    padding: 0;

    font-size: 13.5px;
}

.menu ul li {

    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;

}

.menu ul li img {
    width: 16px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 16px; /* Adicione espaço entre o ícone e o texto */
    
}


.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}



/* Estilo para destacar o item ativo */
.menu ul li.active a {
    background-color: #555;
}

.linha{
    position: absolute;
    left: 7px;
    width: 242px;
    top: -10px;
    background-color: #444654;
    border: none;
    height: 0.08px;
    margin-bottom: 49px;
  
  }

  .conversation {
    border-radius: 5px;

    padding: 20px;
    margin-bottom: 30%;
    margin-left: 17%;

}
.message {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.message.user .avatar {
    width: 30px;
    height: 30px;
    margin-left: 205px;
    margin-right: 26px;
}

.message.chatgpt .avatar {
    width: 30px;
    height: 30px;
    margin-left: 205px;
    margin-right: 26px;
    margin-top: -78px;
}

.message.user {
    position: relative;
    left: -56px;
    margin: 0;
    font-size: 15px;
    line-height: 27px;


    color: #fff;
    padding: 10px;
    padding-bottom: 25px;
}

.message.chatgpt {
    position: absolute;
    left: 14.3%;
    background-color: #444654;
    color: #fff;
    padding: 10px;
    height: 199px;




    border: 1px solid #32343A;
}

.message.chatgpt p{
    margin: 0;
    font-size: 15px;
    line-height: 27px;
}

.rating {
    margin-top: 12px; /* Adicione um espaçamento superior conforme necessário */
    margin-left: auto; /* Coloca a imagem no canto direito da caixa de mensagem */
    display: flex; /* Permite alinhamento vertical do rating com o texto */
    align-items: center; /* Alinha o rating verticalmente com o texto */
    cursor: pointer;

}

.rating img {
    width: 50px; /* Largura da imagem de rating */
    height: auto; /* A altura se ajustará automaticamente à largura */

    margin-right: 197px;
    margin-left: 25px;
    margin-top: -100px;
}





 

.container {

    text-align: center;
    color: #ffffff;
    bottom: 0;
}

.input-container {
    position: relative;
    left: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 55%;
    margin: 0 auto;
    background-color: #444654;
    border-radius: 4px;
    padding: 10px;
}

.container input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
}

.container img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.container p {
    position: absolute;
    left: 26%;
    color: #9A9B9F;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    text-align: center

}

.container a{
    color: #9A9B9F; /* Cor do texto */
    text-decoration: underline; /* Adiciona sublinhado aos links */
    /* Outras propriedades de estilo que você deseja aplicar aos links */
}



.btn-signup{
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #C5C5D1;
    font-weight: 400;
    font-size: 13px;
    padding: 12px;
    width: 184px;
    height: 37px;
    cursor: pointer;
    border: 1px solid #444654;

}

.btn-signup img{

    margin-left: -10px;
    margin-right: 10px;
}

